<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li class="botton-personal"><i class="material-icons">add_circle_outline</i><a href="/ceremonies/add" >Add Ceremony</a></li>
    <li class="botton-personal2"><i class="material-icons">add_circle_outline</i><a href="/places/add" >Add Place</a></li>
  </ul>
</div>
