    <footer id="contact">
        <div class="brand">
            <div class="f-logo">
                <img src="/image/couple.png" alt="logo">
            </div>
            <p>&copy; 2020 Wedding Planner</p>
        </div>
        <div class="links">
            <h3>TOOLS</h3>
            <ul>
                <li><a href="">API</a></li>
            </ul>
        </div>
        <div class="links">
            <h3>COMPANY</h3>
            <ul>
                <li><a href="#">Public Ceremonies</a></li>
                <li><a href="#">Places</a></li>
                <li><a href="#">Dashboard</a></li>
            </ul>
        </div>
        <div class="links">
            <h3>CONTACT</h3>
            <ul>
                <li>Phone Number</li>
                <li>Email</li>
            </ul>
        </div>
    </footer>