<!--
  Sizes:
  tiny: 1rem
  small: 2rem
  medium: 4rem
  large: 6rem
  -->
<h3><i class="material-icons">wc</i> Wedding Planner</h3>
<i class="fa fa-rings-wedding"></i>
<div class="section">
    <p class="lead">Create a new user in Wedding Planner</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darknen-1">
    <i class="fab fa-google left"></i> log in with Google
    </a>
</div>