        <section id="banner">
          <div class="bg-black"></div>
          <div class="banner-desc">
            <h1>Wedding Planner</h1>
            <p><i>Every love story is beautiful, but yours should be unique.
                That's why we have the best creative and elegant event design and planning platform. </i></p>
          </div>
        </section>

        <section id="img-gallery">
          <img
            src="https://images.unsplash.com/photo-1591604466107-ec97de577aff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
            alt="couple">
          <img
            src="https://images.unsplash.com/photo-1519225421980-715cb0215aed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="food">
          <img
            src="https://images.unsplash.com/photo-1550005809-91ad75fb315f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
            alt="wedding">
          <img
            src="https://images.unsplash.com/photo-1481653125770-b78c206c59d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="dance">
        </section>

        <section id="about-us">
          <div class="desc">
            <h2>About Us</h2>
            <p>We are an exclusive platform for all wedding planners around the world. We offer an elegant and
              exclusive service that will help you planning and managing any kind of wedding. Save the place,
              date, guests, specifications and many other notes of the wedding, so you can be able to share it or
              have access to that information anytime from our application.</p>
            <div class="desc-btns">
              <a href="/auth/google" id="login">Start Now</a>
              <a href="/auth/google" id="login-google"><img src="https://onymos.com/wp-content/uploads/2020/10/google-signin-button-1024x260.png" alt="login-google"></a>
            </div>
          </div>
          <div class="img-desc">
            <img src="https://www.pikpng.com/pngl/b/117-1176325_wedding-couple-png-image-wedding-couple-png-clipart.png"
              alt="">
          </div>
        </section>